body {
  background-color: #eee;
}

a {
  color: #00B7FF;
}

.jumbotron {
  top: 0;
  /*position: fixed;*/
  background-image: url('https://static.pexels.com/photos/511768/pexels-photo-511768.jpeg');
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(169,169,169,.5);
  background-size: cover;
  /*background-color: rgba(0,0,0,.5);*/
  height: 400px;
  width: 100%;
  /*z-index: 2;*/
  /*background: #0575E6;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  margin-bottom: 0px;
}

.fa-plus-square {
  color: #8cf442;
}

.fa-plus-square:hover {
  color: green;
}

.fa-minus-square {
  color: red;
}

.fa-minus-square:hover {
  color: #c42921;
}

.input-group-btn {
  vertical-align: text-top;
}

.searchBtn {
  height: 34px;
}

.navbar{
  position: absolute;
  width: 100%;
  background-color: rgba(211,211,211,.5);
  border-radius: 0px;
  border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.emailHeader{
  margin-bottom: 0px;
  margin-top:0px;
  padding-top:115px;
  padding-bottom:15px;
<<<<<<< HEAD
  /*background-color: #dd2c00;*/
  color:white;
=======
  background-color: #dd2c00;
  color:#ffffff;
>>>>>>> 24b867a2c5f32238bde86baa4a3ccf4ae1154a3e
}

.displayArea{
  position: relative;
  margin-bottom:50px;

}

.emailGood:focus, .uneditable-input:focus {
    border-color: rgba(0, 255, 0, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 255, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6) !important;
    outline: 0 none !important;
}

.emailBad:focus, .uneditable-input:focus {
    border-color: rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6) !important;
    outline: 0 none !important;
}
