/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.fa-plus-square {
  color: #8cf442;
}

.fa-plus-square:hover {
  color: green;
}

.fa-minus-square {
  color: red;
}

.fa-minus-square:hover {
  color: #c42921;
}

.restaurants {
  padding-bottom: 2%;
}

.add {
  height: 3%;
  line-height: 3%;
  text-align: center;
}

.i {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
