/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.navbar {
  margin-bottom: 0px;
}

.fa-plus-square {
  color: #8cf442;
}

.fa-plus-square:hover {
  color: green;
}

.fa-minus-square {
  color: red;
}

.fa-minus-square:hover {
  color: #c42921;
}

.input-group-btn {
  vertical-align: text-top;
}

.searchBtn {
  height: 34px;
}

.restaurants {
  padding-bottom: 2%;
}

.emailGood:focus, .uneditable-input:focus {
    border-color: rgba(0, 255, 0, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 255, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6) !important;
    outline: 0 none !important;
}

.emailBad:focus, .uneditable-input:focus {
    border-color: rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6) !important;
    outline: 0 none !important;
}

.parent {position: relative;}

.child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
