<div class="jumbotron text-center">
  <h3>{{date | date : fulldate}}</h3>
</div>

<div class="row">

  <div class="col-md-4 col-md-offset-2">
    <h1>User Info</h1>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name">
        <input type="text" class="form-control" placeholder="email">

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="restaurant in users.restaurants track by $index">
            {{restaurant}}
            <i class="fa fa-minus-square pull-right i" aria-hidden="true" ng-click="remove($index)"></i>
          </li>
        </ul>

      </div>
      <button type="submit" class="btn btn-default">Find Friends</button>
    </form>
  </div>

  <div class="col-md-4">
    <h1>Restaurants</h1>
    <form ng-submit="print()" class="ng-pristine ng-valid">
      <div class="input-group restaurants">
        <input type="text" placeholder="Search for a restaurant" class="form-control">
        <span class="input-group-btn">
          <button class="btn" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </form>

    <div style="max-height:500px; overflow-y:auto;">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="place in places track by $index">
          <div style="font-size:120%;">
            {{place.name}}
          </div>
          <div>
            {{place.distanceFromOffice | number : 2}} mi  |  {{place.dollarSigns}}
          </div>
          <i class="fa fa-plus-square i pull-right" aria-hidden="true" ng-click="add(place.name)"></i>
        </li>
      </ul>

      <div style="padding:10px; font-weight:bold;" ng-show="showClickToSeeMore" ng-click="showMoreClicked()">
        <button class="btn">Load More</button>
      </div>

    </div>
  </div>

</div>
